body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('Road 2.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

header {
    background-color: white;
    color: #5ed880;
    padding: 0.5 px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style-type: none;
    padding: 20 px;
    background-color: #69a9d7;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #5ed880;
}

section {
    padding: 2em;
}

.gallery img {
    width: 30%;
    margin: 1%;
}

article {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

footer {
    background-color: #3d91cd;
    color: white;
    text-align: center;
    padding: 0.5 px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin-right: 50px;
}

label {
    margin-top: 10px;
    text-align: left;
}

input, textarea {
    width: 99%;
    padding: 1px;
    margin-top: 1px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

label {
    color:#5ed880;
}
button {
    margin-top: 20px;
    padding: 1px;
    background-color: #55a1d7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #5ed880;
}

h3 {
    color: #5ed880;
}

h4 {
    color: #5ed880;
    font-size: 16px;
    margin-top: 20px
}
